:root {
  /* Typography */
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  /* Colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  background-color: var(--white);
  font-family: var(--primary-font);
  color: var(--slate);
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* ----- Header and Footer ----- */

.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  margin-right: 76px;
}

.logo-header,
.logo-footer {
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  color: var(--iris);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header-accent {
  color: var(--navyblue);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-nav-list,
.header-addr-list {
  display: flex;
  gap: 40px;
}

.header-nav-item {
  color: var(--navyblue);
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-nav-item:hover,
.header-nav-item:focus,
.address-item:hover,
.address-item:focus {
  color: var(--ocean);
}
.header-addr-list {
  padding: 24px 0;
}

.address-link {
  color: var(--slate);
  letter-spacing: 0.02em;
  font-style: normal;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navyblue);
  color: var(--cloud);
}

.footer-container {
  display: flex;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-accent {
  color: var(--cloud);
}

.footer-tagline-paragraph {
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-social-media {
  margin-left: 120px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-item {
}

.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.footer-social-icon {
  width: 24px;
  height: 24px;
  fill: var(--cloud);
}

.footer-social-link:hover {
  background-color: var(--ocean);
}

.footer-media-paragraph {
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

/* ----- Index Main ----- */

.section-title {
  color: var(--grey);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----- Hero ----- */

.hero-section {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-title {
  max-width: 496px;
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  background-color: var(--iris);
  font-family: 'Roboto', sans-serif;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/* ----- Features ----- */

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 24px * 3) / 4);
}

.feature-img {
  height: 112px;
  border-radius: 4px;
  background-color: var(--cloud);
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.feature-description {
  color: var(--slate);
  letter-spacing: 0.02em;
}

.features-list {
  display: flex;
  gap: 24px;
}

/* ----- What are we doing ----- */

.wawdoing-section {
  padding-bottom: 120px;
}

.wawdoing-list {
  display: flex;
  gap: 24px;
}

.wawdoing-item {
  max-width: calc((100% - 24px * 2) / 3);
}

/* ----- Team ----- */
.team-section {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}

.team-card-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 32px 16px;
}

.team-name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-role {
  color: var(--slate);
  letter-spacing: 0.02em;
}

.team-socials-list {
  display: flex;
  gap: 24px;
}

.team-socials-item {
}

.team-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.team-social-link:hover {
  background-color: var(--ocean);
}

.team-social-icon {
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}

/* ----- Customers ----- */

.customers-section {
  padding: 120px 0;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customer-item {
  width: 168px;
  height: 88px;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  display: flex;
  align-items: center;
  justify-items: center;
}

.customer-icon {
  fill: var(--lightslate);
}

/* ----- Portfolio Main ----- */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filters {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filters-button {
  font-family: 'Roboto', sans-serif;
  background-color: var(--cloud);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--iris);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}

.filters-button:hover,
.filters-button:focus,
.filters-button:active {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-card {
  width: calc((100% - 24px * 2) / 3);
}

.portfolio-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-type {
  color: var(--slate);
  letter-spacing: 0.02em;
}

.portfolio-description {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
