:root {
  /* Typography */
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  /* Colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --navyblue-bg: rgba(46, 47, 66, 0.7);
}

body {
  background-color: var(--white);
  font-family: var(--primary-font);
  color: var(--slate);
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----- Header and Footer ----- */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  margin-right: 76px;
}

.logo-header,
.logo-footer {
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  color: var(--iris);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header-accent {
  color: var(--navyblue);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-nav-list,
.header-addr-list {
  display: flex;
  gap: 40px;
}

.header-nav-link {
  display: block;
  color: var(--navyblue);
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:is(:hover, :focus),
.address-link:is(:hover, :focus) {
  color: var(--ocean);
}

.current {
  position: relative;
  color: var(--ocean);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}

.header-addr-list {
  padding: 24px 0;
}

.address-link {
  color: var(--slate);
  letter-spacing: 0.02em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navyblue);
  color: var(--cloud);
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-accent {
  color: var(--cloud);
}

.footer-tagline {
  margin-right: 120px;
}

.footer-tagline-paragraph {
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-socials {
  margin-right: 80px;
}

.footer-subtitle {
  font-weight: 500;

  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-item {
}

.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: var(--cloud);
}

.footer-social-link:is(:hover, :focus) {
  background-color: var(--green);
}

.footer-subcribe {
  margin-right: 0;
}

.footer-subcribe-form {
  display: flex;
  gap: 24px;
}

.footer-subcribe-label {
}

.footer-subcribe-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
  padding-left: 16px;
  color: var(--white);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subcribe-input::placeholder {
  color: var(--white);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-subcribe-input:focus {
  border-color: var(--iris);
}

.footer-subcribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subcribe-btn-icon {
  margin-left: 16px;
  fill: var(--white);
}

.footer-subcribe-btn:is(:hover, :focus) {
  background-color: var(--ocean);
}

/* ----- Index Main ----- */

.section-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

/* ----- Hero ----- */

.hero-section {
  padding: 188px 0;
  background-image: linear-gradient(var(--navyblue-bg), var(--navyblue-bg)),
    url(../images/hero-bg-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-title {
  max-width: 496px;
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  background-color: var(--iris);
  font-family: 'Roboto', sans-serif;
  padding: 16px 32px;
  font-weight: 500;
  color: var(--white);
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:is(:hover, :focus) {
  background-color: var(--ocean);
}

/* ----- Features ----- */

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 24px * 3) / 4);
}

.feature-img {
  height: 112px;
  border-radius: 4px;
  background-color: var(--cloud);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.feature-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.feature-description {
  color: var(--slate);
  letter-spacing: 0.02em;
}

/* ----- What are we doing ----- */

.wawdoing-section {
  padding-bottom: 120px;
}

.wawdoing-list {
  display: flex;
  gap: 24px;
}

.wawdoing-item {
  max-width: calc((100% - 24px * 2) / 3);
}

/* ----- Team ----- */
.team-section {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 32px 0;
}

.team-name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-role {
  color: var(--slate);
  letter-spacing: 0.02em;
}

.team-socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-socials-item {
}

.team-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:is(:hover, :focus) {
  background-color: var(--ocean);
}

.team-social-icon {
  fill: var(--cloud);
}

/* ----- Customers ----- */

.customers-section {
  padding: 120px 0;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customer-link {
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  fill: currentColor;
}

.customer-link:is(:hover, :focus, :active) {
  border-color: var(--ocean);
  color: var(--ocean);
}

/* ----- Portfolio Main ----- */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filters {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filters-button {
  font-family: 'Roboto', sans-serif;
  background-color: var(--cloud);
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--iris);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:is(:hover, :focus, :active) {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-card {
  width: calc((100% - 24px * 2) / 3);
  border: 1px solid var(--cloud);
}

.portfolio-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-card-type {
  color: var(--slate);
  letter-spacing: 0.02em;
}

.portfolio-card-description {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-card-img-sketch {
  position: relative;
  overflow: hidden;
}

.portfolio-card-sketch {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--cloud);
  letter-spacing: 0.02em;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:is(:hover, :focus) {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-card-link:is(:hover, :focus) .portfolio-card-sketch {
  transform: translateY(0);
}

/* ----- Modals ----- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navyblue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-order {
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-order {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  fill: var(--navyblue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:is(:hover, :focus) {
  background-color: var(--ocean);
  border: none;
}

.modal-close-btn:is(:hover, :focus) .modal-close-btn-icon {
  fill: var(--white);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.order-title {
  color: var(--navyblue);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.order-field {
  margin-bottom: 8px;
}

.order-label {
  display: block;
  margin-bottom: 4px;
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.order-input-wrap {
  position: relative;
}

.order-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  padding: 0 16px 0 38px;
  background-color: transparent;
  outline: transparent;
  color: var(--navyblue);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: var(--navyblue);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-input:focus {
  border-color: var(--iris);
}

.order-input:focus + .order-input-icon {
  fill: var(--iris);
}

.order-field-textarea {
  margin-bottom: 16px;
}

.order-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-textarea:focus {
  border-color: var(--iris);
}

.order-textarea::placeholder,
.order-input::placeholder {
  color: var(--navyblue-modal);
}

.order-field-checkbox {
  margin-bottom: 24px;
}

.order-checkbox {
}

.check {
}

.order-checkbox-label {
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  align-items: center;
}

.checkbox-container {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navyblue-modal);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-checkbox:checked + .order-checkbox-label > .checkbox-container {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.policy-link {
  color: var(--iris);
  text-decoration-line: underline;
}

.order-button {
  display: flex;
  justify-content: center;
}

.order-semd-btn {
  display: block;
  margin: 0 auto;
  background-color: var(--iris);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--white);
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-semd-btn:is(:hover, :focus) {
  background-color: var(--ocean);
}
