:root {
  /* Colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

  /* Typography */
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

body {
  background: var(--white);
  font-family: var(--primary-font);
  color: var(--slate);
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* Header and Footer */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  color: var(--iris);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header-accent {
  color: var(--navyblue);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 76px;
}

.header-nav-list,
.header-addr-list {
  display: flex;
  gap: 40px;
}

.header-nav-item {
  color: var(--navyblue);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-nav-item:hover,
.header-nav-item:focus,
.address-item:hover,
.address-item:focus {
  color: var(--ocean);
}
.header-addr-list {
  padding: 24px 0;
}

.address-link {
  color: var(--slate);
  letter-spacing: 0.02em;
  font-style: normal;
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--navyblue);
  color: var(--cloud);
}

.logo-footer-accent {
  color: var(--cloud);
}

.footer-paragraph {
  letter-spacing: 0.02em;
  margin-top: 16px;
  width: 264px;
}

/* Index Main */

.section-title {
  color: var(--grey);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team-name,
.features-title,
.portfolio-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.feature-description,
.team-role,
.portfolio-type {
  color: var(--slate);
  letter-spacing: 0.02em;
}

/* ---- Hero */

.hero-section {
  background: var(--navyblue);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  max-width: 496px;
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  background: var(--iris);
  font-family: 'Roboto', sans-serif;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--ocean);
  cursor: pointer;
}

/* ---- Features */

.features-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 24px * 3) / 4);
}

/* ---- What are we doing */

.wawdoing-container {
  padding-bottom: 120px;
}
.wawdoing-list {
  display: flex;
  gap: 24px;
}

.wawdoing-item {
  max-width: calc((100% - 24px * 2) / 3);
}

/* ---- Team */
.team-section {
  background: var(--cloud);
}

.team-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background: var(--white);
  text-align: center;
  padding-bottom: 32px;
}

.team-card img {
  margin-bottom: 32px;
}

/* Portfolio Main */

.potfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filters {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filters-button {
  font-family: 'Roboto', sans-serif;
  background: var(--cloud);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--iris);
  cursor: pointer;
  padding: 12px 24px;
}

.filters-button:hover,
.filters-button:focus,
.filters-button:active {
  color: var(--white);
  background: var(--ocean);
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-card {
  width: calc((100% - 24px * 2) / 3);
}

.portfolio-card img {
  margin-bottom: 32px;
}

.portfolio-description {
  padding: 0 16px;
}
